@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* custom default styles  */

:root {
    --box_shadow: box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    --pri_color: #68B846;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a,
li {
    text-decoration: none;
    list-style: none;
}

.hero {
    background-color: rgba(0, 0, 0, .5);
    background-image: url(../assets/banner-3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}

.navbar {
    /* position: fixed; */
    display: flex;
    width: 100%;
    padding: 1rem 5rem;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.8);
}

.logo a {
    color: #fff;
}

#era {
    font-size: 2rem;
    letter-spacing: .4rem;
    margin-left: .5rem;
}

.navLinks ul {
    padding: 0 1rem;
}

.navLinks ul li {
    padding: 0 1rem;
    display: inline-block;
}

.navLinks ul li a {
    font-size: 1.1rem;
    color: #fff;
    font-weight: 300;
    letter-spacing: .2rem;
    text-transform: capitalize;
    /* display: inline-block; */
}

.social i {
    padding: 0 .7rem;
    font-size: 1.1rem;
    cursor: pointer;
}

.main_content {
    padding: 10rem 0;
}

.titles {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 2rem;
    letter-spacing: .3rem;
}

.titles span {
    font-weight: bolder;
}

.p_descr {
    font-weight: lighter;
    font-size: 1.3rem;
}

.make_order {
    border: none;
    padding: 1rem 4rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-top: 3rem;
    font-weight: 400;
}


/* ORDERS   */

.order {
    padding: 4rem 0;
}

label {
    padding: .6rem 0;
    font-size: 1.2rem;
    font-weight: 400;
}

select {
    margin: 0 0 1rem 0;
    width: 100%;
    outline: none;
    padding: .7rem 1rem;
}

option:hover {
    background-color: none;
    color: #000;
}

input {
    color: inherit;
    outline: none;
    width: 100%;
    margin: 0 0 1rem 0;
    font-weight: 400;
    padding: .5rem 1rem;
}

input::placeholder {
    color: inherit;
}

.submit {
    font-size: 1.1rem;
    border: none;
    background-color: var(--pri_color);
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-top: 2.8rem;
    padding: .5rem .8rem;
}

.checkOut {
    padding: 2rem;
    border: 1px solid #eee;
}

.checkOut h3 {
    text-transform: capitalize;
    font-weight: 300;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.total-checkout {
    display: none;
}

#subscrbe {
    width: 40%;
}

footer {
    padding: 1rem 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    align-items: center;
}

footer i {
    margin: 0 1rem;
}

.top-arrow {
    font-size: 2rem;
    padding-left: 0 5rem 0 0;
    margin-top: -2rem;
    float: right;
    z-index: 3;
}

.top-arrow a {
    color: #fff;
}